@mixin glassEffect($color) {
  @if ($color== "dark") {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  } @else if ($color == "white") {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
  } @else if($color == "red") {
    background: rgba(255, 6, 6, 0.5) !important;
    box-shadow: 0 0.8px 3.2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
  } @else if($color == "pink") {
    background: rgba(222, 33, 114, 0.15) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  } @else if($color == "darkpink") {
    background: rgba(222, 33, 114, 0.7) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

// 640px, 1024px, 1400px

// 639px, 1023px, 1399px
