$white: #fff;
$black: #252525;
$google-color: #4285f4;
$gray: #708090;
$gray-font: #7f8c8d;
$border: 0.1rem solid $black;
$google-border: 0.1rem solid $google-color;
$skyblue: #0bbcde;
$skyblue-dark: #0f7c91;
$pink-dark: #910743;
$pink: #de2172;
$yellow: #fae201;
$green: #03a685;
$green: #067302;
$red: #ff4646;

$twitter-color: #55acee;
$facebook-color: #3b5999;
$insagram-color: #e4405f;

// font sizes
$font-xsm: 1rem;
$font-sm: 1.2rem;
$font-md: 1.5rem;
$font-md-big: 2rem;
$font-body-lg: 3rem;
$font-heading-lg: 3.5rem;
$font-heading-xlg: 6.5rem;

$heading-font: "Jenriv";
$body-font: "Gontserrat";
$script-font: "Halaney";

// default transition
$default-transition: all 0.3s;
$default-shadow: 0 0.1rem 0.8rem 0.1rem #d4d4d4b0;
$default-shadow-hover: 0 0.8rem 1rem 0.3rem #d4d4d4b0;
